# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.php -text
*.css -text
*.txt -text
*.html -text
*.htm -text
*.md -text
*.js -text

+# We don't want these files in the ZIP-file, so tell GitHub to ignore them when the user click on Download ZIP
+/.gitattributes export-ignore